<div class="col-md-12">
    <div class="card">
        <div class="header">
            <h4 class="title">Déposer un avis</h4>
        </div>
        <div class="content">
            <form (ngSubmit)="save()">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Note</label>
                            <input type="number" class="form-control" placeholder="note" [(ngModel)]="avis.note" name="note">
                        </div>
                        <div class="form-group">
                            <label>Titre</label>
                            <input type="text"  class ="form-control" placeholder="titre" [(ngModel)]="avis.titre" name="titre">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Commentaire</label>
                            <textarea type="text" rows="5" class="form-control" placeholder="Répandez votre amour ou votre haine peu importe on ne lit pas vos commentaires.." [(ngModel)]="avis.commentaire" name="commentaire"></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Chauffeur</label><br>
                    <select class="select1" name="chauffeur"[(ngModel)]="avis.chauffeur">
                        <option *ngFor="let c of chauffeurs" [ngValue]="c">{{c.prenomChauffeur}}</option>
                    </select>
                </div>
                    <button type="submit" class="btn btn-info btn-fill pull-right">Déposer l'avis</button>
                <div class="clearfix"></div>
            </form>
            <div class="main-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="header">
                                    <h4 class="title">Avis Clients</h4>
                                    <p class="category">Vous trouverez ici la liste des avis</p>
                                </div>
                                <div class="content table-responsive table-full-width">
                                    <div>
                                        <form (ngSubmit)="onSubmitNote()">
                                            <label>Note</label>
                                            <input type="number" [(ngModel)]="note" name="note">
                                        <button type="submit" class="btn btn-info btn-fill pull-center">Trier</button>
                                    </form>
                                      </div>
                                      <table class="table table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Id</th>
                                                    <th>note </th>
                                                    <th>titre </th>
                                                    <th>Commentaire</th>
                                                    <th>Chauffeur</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let a of avisS">
                                                    <td>{{a.idAvis}}</td>
                                                    <td>{{a.note}}</td>
                                                    <td>{{a.titre}}</td>
                                                    <td>{{a.commentaire}}</td>
                                                    <td>{{a.chauffeur.nomChauffeur}}</td>
                                                    <div *ngIf="idRole == 1" [hidden]="!authentificate()">
                                                    <td><button (click)="deleteAvis(a.idAvis)" class="btn btn-info btn-fill pull-center">Supprimer</button></td>
                                                    </div>
                                                </tr>
                                            </tbody>
                                      </table>
                                      
                                </div>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>
