<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <!--<div style="display: block">
                <chartist mdbChart
                    [chartType]="chartType"
                    [datasets]="chartDatasets"
                    [labels]="chartLabels"
                    [colors]="chartColors"
                    [options]="chartOptions"
                    [legend]="true"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)">
                </chartist>
            </div>-->
            <div class="card">
                <div class="header1">
                </div>
                <div class="content">
                        <table class="card">
                            <tr>
                                <td class="reservation">
                                    <form>
                                        <h3 class="titleavis">Réservez votre trajet</h3>
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label>Départ</label>
                                                    <!--<input type="text" placeholder="Adresse de départ..." >-->
                                                    <input type="text" class="form-control" placeholder="Adresse de départ..."
                                                    ngx-google-places-autocomplete [options]='options' 
                                                    #placesRef="ngx-places" 
                                                    (onAddressChange)="handleAddressChange($event)"
                                                    [(ngModel)]="trajet.depart" name="depart"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label>Arrivée</label>
                                                    <!--<input type="text" placeholder="Adresse de dépôt...">-->
                                                    <input type="text" class="form-control" placeholder="Adresse de d'arrivée..."
                                                    ngx-google-places-autocomplete [options]='options' 
                                                    #placesRef="ngx-places" 
                                                    (onAddressChange)="handleAddressChange2($event)"
                                                    [(ngModel)]="trajet.arrivee" name="arrivee"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="centrerdate">
                                            <table>
                                                <tr>
                                                    <td>
                                                       <div class="col-md-5">
                                                            <div class="form-group">
                                                                <label>Début</label>
                                                                <input type="date" class="form-control" placeholder="Date.."
                                                                [(ngModel)]="reservation.dateDebut" name="dateDebut">
                                                            </div>
                                                        </div> 
                                                    </td>
                                                    <td>
                                                        <div class="col-md-5">
                                                            <div class="form-group">
                                                                <label>Fin</label><br>
                                                                <input type="date" class="form-control" placeholder="Date..."
                                                                [(ngModel)]="reservation.dateFin" name="dateFin">                                                        
                                                            </div>                                                    
                                                        </div>  
                                                    </td>
                                                    <td></td><td></td><td></td><td></td>
                                                    <td>
                                                        <div class="col-md-5">
                                                            <div class="form-group">
                                                                <label>Chauffeur</label><br>
                                                                <select class="select1" name="chauffeurs"[(ngModel)]="utilisateur.chauffeur">
                                                                    <option *ngFor="let c of chauffeurs" [ngValue]="c">{{c.prenomChauffeur}}</option>
                                                                </select>
                                                            </div>
                                                         </div>  
                                                    </td>
                                                </tr>
                                            </table>
                                                
                                                
                                               
                                                <!--<div class="col-md-5">
                                                    <label>Choisissez votre chauffeur</label><br>
                                                    <select multiple name="" id=""></select>
                                                </div>-->
                                        </div>
                                        <div> 
                                            <div class="row" id="boutons">                                                
                                                <button type="button" class="btn btn-info btn-fill" (click)="getDistance('top','center')">Simulez le prix du trajet</button> &nbsp;&nbsp;                                           
                                                <button type="submit" class="btn btn-info btn-fill" (click)="showNotification('top','center');resetCurrentLocation()">Réservez</button> &nbsp;&nbsp;                                                                                      
                                                <button class="btn btn-info btn-fill"><a href="#/annonce" class="boutonAnnonce">Voir les offres</a></button> 
                                                <!--<input type="button"  value="Click Me!">-->                                        
                                            </div>
                                        </div>
                                    </form>
                                </td>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <td class="map">
                                    <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
                                        <agm-marker
                                        [latitude]="latitude"
                                        [longitude]="longitude">
                                        </agm-marker>
                                        <agm-marker
                                        [latitude]="latitude2"
                                        [longitude]="longitude2"
                                        [agmFitBounds]="true">
                                        </agm-marker>
                                        <agm-direction 
                                        [origin]="{ lat: this.latitude, lng: this.longitude }" 
                                        [destination]="{ lat: this.latitude2, lng: this.longitude2 }">
                                        </agm-direction>
                                    </agm-map>
                                </td>
                            </tr>
                        </table>         
                </div>                   
            </div>
        </div>
        <!--<div id="avisEtStats">
            <div class="card" id="stats">
                <div class="header">
                </div>
                <h3 class="titleavis">Statistiques Clients</h3>
                <lbd-chart
              [subtitle]="'24 Hours performance'"
              [chartType]="hoursChartType"
              [chartData]="hoursChartData"
              [chartOptions]="hoursChartOptions"
              [chartResponsive]="hoursChartResponsive"
              [legendItems]="hoursChartLegendItems"
              [withHr]="true"
              [footerIconClass]="'fa fa-history'"
              [footerText]="'Updated 3 minutes ago'">
                </lbd-chart>
            </div>
        </div>--> 
        <div class="row">
            <div class="card" id="pub">
                <div class="header2">
                </div>
                <h2><a class="titleavis" href="#/annonce">Offre aux nouveaux clients!!!!<br>-50% Offert sur votre premier trajet</a></h2>
            </div>
            <div class="card" id="avis">
                <div class="header3">
                </div>
                <div class="rating">
                    <h3 class="titleavis">Avis Clients</h3>
                    <h5 class="soustitleavis">Vos avis sont importants!</h5>
                    <div class="stars">
                        <i class="fa fa-star gold"></i> &nbsp; &nbsp;
                        <i class="fa fa-star gold"></i> &nbsp; &nbsp;
                        <i class="fa fa-star gold"></i> &nbsp; &nbsp;
                        <i class="fa fa-star"></i> &nbsp; &nbsp;
                        <i class="fa fa-star"></i> &nbsp; &nbsp;
                    </div>
                    <div class="form-group">
                        <label>Trier</label> &nbsp; &nbsp;
                        <select >
                            <option></option>
                            <option>1 étoile &#11088;</option>
                            <option>2 étoiles &#11088; &#11088;</option>
                            <option>3 étoiles &#11088; &#11088; &#11088;</option>
                            <option>4 étoiles &#11088; &#11088; &#11088; &#11088;</option>
                            <option>5 étoiles &#11088; &#11088; &#11088; &#11088; &#11088;</option>
                        </select>
                    </div>
                </div>
                <form>
                    <div class="row">
                        <div class="col-md-5">
                        </div>
                    </div>
                </form>
            </div>
        </div>
            <!--<div class="col-md-6">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Tasks</h4>
                        <p class="category">Backend development</p>
                    </div>
                    <div class="content">
                        <div class="table-full-width">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox1" type="checkbox">
                                                <label for="checkbox1">

                                                </label>
                                            </div>
                                        </td>
                                        <td>Sign contract for "What are conference organizers afraid of?"</td>
                                        <td class="td-actions text-right">
                                            <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                            <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox2" type="checkbox" checked>
                                                <label for="checkbox2">

                                                </label>
                                            </div>
                                        </td>
                                        <td>Lines From Great Russian Literature? Or E-mails From My Boss?</td>
                                        <td class="td-actions text-right">
                                            <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                            <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox3" type="checkbox" checked>
                                                <label for="checkbox3">

                                                </label>
                                            </div>
                                        </td>
                                        <td>Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit
                                        </td>
                                        <td class="td-actions text-right">
                                            <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                            <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox4" type="checkbox">
                                                <label for="checkbox4">

                                                </label>
                                            </div>
                                        </td>
                                        <td>Create 4 Invisible User Experiences you Never Knew About</td>
                                        <td class="td-actions text-right">
                                            <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                            <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox5" type="checkbox" >
                                                <label for="checkbox5">

                                                </label>
                                            </div>
                                        </td>
                                        <td>Read "Following makes Medium better"</td>
                                        <td class="td-actions text-right">
                                            <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                            <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox6" type="checkbox">
                                                <label for="checkbox6">

                                                </label>
                                            </div>
                                        </td>
                                        <td>Unfollow 5 enemies from twitter</td>
                                        <td class="td-actions text-right">
                                            <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                            <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="footer">
                            <hr>
                            <div class="stats">
                                <i class="fa fa-history"></i> Updated 3 minutes ago
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
</div>
