<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a (click)="onClick()">Qui sommes nous ?</a>
                </li>
                <li>
                    <a (click)="onClick2()">Contacts</a>
                </li>
                <li>
                    <a href="#/reclamation">Reclamations</a>
                </li>
                <!--<li>
                    <a href="#">
                        Blog
                    </a>
                </li>-->
            </ul>
        </nav>
        <p class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}} <a href="http://www.creative-tim.com">Creative Tim</a>, made with love by <b>"Les Cracks"</b>
        </p>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div style="text-align: center;">
        <h1>Qui sommes nous ?</h1>
        <br>
        <p id="Nous">
            Taxi Driver est né d'un projet entre 4 amis et collègues:<br>
            Anne-Espérance KAMANDA, Baptiste TAILLEFUMIER, Axel Didisse et Guilhem THOMAS.
            <br><br>
            Qui a dit qu'un trajet de taxi devait se limiter aux standards habituels? Certainement pas nous!<br>
            Disponible dans toute la France, Taxi Driver est LE service de taxi qui vous dépanne et vous permet de voyager même sur de très longues distances.
            <br><br>
            Pour plus d'informations, n'hésitez pas à nous contacter par mail à l'adresse : <a href="mailto:taxidriver@gmail.com" target="_blank"><b>taxidriver@gmail.com</b></a> 
            <br><br>
            À bientôt sur la route,
            L'Équipe Taxi Driver
          </p>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div class="container-fluid" style="text-align: center;" id="Contact">
        <h1>Contacts</h1><br><br>
        <p>
            <b style="color: rgb(3, 137, 182);">Siège Social:</b><br>
            42 Rue de l'Université,  69007 Lyon<br>
        </p>
        <p>
            <b style="color: rgb(3, 137, 182)">Contactez nous:</b> <br>
            Par email: <b>taxidriver@gmail.com</b>,  par téléphone: <b>01.55.22.38.96</b>  , ou depuis notre page Facebook
            <a href="https://www.facebook.com/TaxiDriver-104330995654714" target="_blank">
                <img width="50" height="50" src="../../../assets/img/fb.jpg">
            </a>
        </p>
    </div>
    <br><br><br><br><br><br>
</footer>
